

<ion-content class="ion-padding" [fullscreen]="true">
  <div>
    <ion-title>Reset Password</ion-title>
    <p>Enter your email, to receive a reset password link</p>
  </div>
  <form>
  <div class="ion-padding">
  
   
    <ion-item>
      <ion-input placeholder="Email" type="email"></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
 
    <div>
<ion-button expand="block" class="primary" [routerLink]="['/login']"> Get Reset Password Link</ion-button>
    </div>
    <div>
     
    </div>
  </div>
  </form>
  </ion-content>
  
